<!DOCTYPE html>
<html>
<head>

      <link rel="stylesheet" href="/static/signin_styles.css">





</head>





    <body>

        <div class="split left">
        <div class="centered">
            <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar woman">
            <h2>Jane Flex</h2>
            <div class='infoListDiv'>
            <label>Contact Information</label>
            <ul class='infoList'>
            <li> 
                <i class="far fa-building"></i>
                <span> Company: reactJs Corp  </span>
            </li>
            <li> 
                <i class="far fa-envelope-open"></i>
                <span> Email : email@email.com </span>
            </li>
            </ul>
            </div>
            <div class='infoListDiv'>
            <label>explore</label>
            <ul class='infoList'>
            <li> 
                <i class="fas fa-hashtag"></i>
                <a href='facebook.com'> <span> Social media </span> </a>
            </li>
            <li> 
                <i class="far fa-building"></i>
                <a href='facebook.com'> <span> Reports  </span> </a>
            </li>
            
            </ul>
            </div>
            
        </div>
        </div>

        <div class="split right">
        <div class="centered">
        
            <div class='infoListDiv'>
            <label>Change Setting</label>
            <ul class='infoList'>
            <li> 
                <span> Dark Mode </span>
                <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                </label>
        
            </li>
            <li> 
                <span> Automatic report</span>
                <input type="date">
        
            </li>
            
            
            </ul>
            </div>
            
            <div class='infoListDiv'>
            <label>Contact Information</label>
            <ul class='infoList'>
            <li> 
                <span> New Email </span>
                <input type='email' placeholder='new email'/>    
            </li>
            <li> 
                <span> New Password </span>
                <input type='password' placeholder='new email'/>    
            </li>
            </ul>
            </div>
                
            
        </div>
        </div>
        
    </body>





</html>